# Build scripts
build/*

# Source files
src/*

# Test files
test/*

# Logs
logs
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

# Visual Studio Code
.vscode

# IntelliJ
.idea

# MYC output
.nyc_output
coverage/*

# Travis
.travis.yml

# GitHub
.github